@using Domain.PurchaseRequests

<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
    @if (this.PurchaseRequest != null) {
        <RadzenCard class="rz-background-color-primary-darker rz-shadow-5 rz-border-radius-5 text-center" Style="width: 500px;">
            <RadzenText Text="Purchase Request Approval"/>
        </RadzenCard>
        <RadzenCard class="rz-background-color-secondary-darker rz-shadow-5 rz-border-radius-5" Style="width: 500px;">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenStack Orientation="Orientation.Horizontal"
                             AlignItems="AlignItems.Center"
                             JustifyContent="JustifyContent.Center">
                    <RadzenFieldset Text="Purchase Request Title">
                        <RadzenTextBox @bind-Value="@this.PurchaseRequest.Title"
                                       ReadOnly="true"
                                       Style="width: 100%"/>
                    </RadzenFieldset>
                    <div class="rz-p-12 rz-text-align-center">
                        <RadzenCheckBox TriState=false 
                                        @bind-Value="@this.PurchaseRequest.Urgent" 
                                        ReadOnly="true" Name="IsUrgent"/>
                        <RadzenLabel Text="Urgent" Component="IsUrgent" class="rz-ms-2" />
                    </div>
                </RadzenStack>
                <RadzenFieldset Text="Purchase Request Description">
                    <RadzenTextArea Placeholder="Enter a brief description of the purchase request"
                                    @bind-Value="@this.PurchaseRequest.Description"
                                    ReadOnly="true"
                                    Style="width: 100%; height:100px;"/>
                </RadzenFieldset>
                <RadzenFieldset Text="Additional Comments">
                    <RadzenTextArea @bind-Value="@this.PurchaseRequest.AdditionalComments"
                                    ReadOnly="true"
                                    Style="width: 100%; height:100px;"/>
                </RadzenFieldset>
                <RadzenFieldset Text="Approve/Reject Comments">
                    <RadzenTextArea @bind-Value="@this._approveRejectComments"
                                    ReadOnly="true"
                                    Style="width: 100%; height:100px;"/>
                </RadzenFieldset>
                <RadzenFieldset Text="Approve/Reject">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                        <RadzenButton Text="Approve" Icon="done" ButtonStyle="ButtonStyle.Success" Shade="Shade.Darker"
                                      Click="@this.ApproveHandler"
                                      Style="width: 180px;height: 50px;"/>
                        <RadzenButton Text="Reject" Icon="delete" ButtonStyle="ButtonStyle.Danger"
                                      Click="@this.RejectHandler"
                                      Style="width: 180px;height: 50px;"/>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenCard>
    }
</RadzenStack>



@code {
    [Parameter] public PurchaseRequest? PurchaseRequest { get; set; }
    private string _approveRejectComments = string.Empty;

    private void RejectHandler() {
        throw new NotImplementedException();
    }

    private void ApproveHandler() {
        throw new NotImplementedException();
    }

}