@using Blazored.LocalStorage
@using Domain.Authentication
@using Domain.PurchaseRequests.Dto
@using Domain.PurchaseRequests.Model
@using Domain.PurchaseRequests.TypeConstants
@using Domain.Users
@using Infrastructure.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MongoDB.Bson
@using Webapp.Data
@using Webapp.Services
@using Webapp.Services.Authentication
@using Webapp.Components.AppComponents.PurchaserViews

<RadzenTabs SelectedIndex="@this._selectedIndex" SelectedIndexChanged="TabIndexChangedHandler">
    <Tabs>
        <RadzenTabsItem Icon="dashboard" Text="Overview" Style="background:#4a764a">
            <PurchaseRequestsTable PurchaseRequests="@this._purchaseRequests"
                                   @bind-SelectedPurchaseRequest="@this._selectedRequest"
                                   UserAction="@this.UserActionHandler"
                                   PurchaseReqStatuses="@this._purchaseReqStatuses"/>
        </RadzenTabsItem>
        <RadzenTabsItem Icon="account_balance_wallet" Text="Create New" Style="background: #0a53be">
            <PurchaseRequestForm ActionCompleted="@this.CompletedHandler" Mode="EditMode.NEW"/>
        </RadzenTabsItem>
        <RadzenTabsItem Text="@this._templateTabText" Visible="@this._templateTabVisible" Icon="@this._tabIcon"
                        Style="background: #cc7119">
            @switch(this._userAction) {
                case PrUserAction.MODIFY:
                    <PurchaseRequestForm PurchaseRequest="@this._actionRequest"
                                         Mode="@EditMode.EDIT"
                                         ActionCompleted="@this.CompletedHandler"/>
                    break;
                case PrUserAction.CANCEL:
                    <CancelRequestView PurchaseRequest="@this._actionRequest"
                                       ActionCompleted="@this.CompletedHandler"/>
                    break;
                case PrUserAction.ORDER:
                    <OrderActionView PurchaseRequest="@this._actionRequest"
                                     ActionCompleted="@this.CompletedHandler"/>
                    break;
                case PrUserAction.APPROVE:
                    <ApproveActionView PurchaseRequest="@this._actionRequest" 
                                       ActionCompleted="@this.CompletedHandler"/>
                    break;
                default:
                    <p>Invalid action</p>
                    break;
            }
        </RadzenTabsItem>
    </Tabs>

</RadzenTabs>

@code {
    [Inject] private PurchaseRequestService _purchaseRequestService { get; set; }
    [Inject] private NotificationService _notificationService { get; set; }
    [Inject] private DialogService _dialogService { get; set; }
    [Inject] private UserService _userService { get; set; }
    [Inject] private PrEditingTracker EditingTracker { get; set; }
    [Inject] private ILogger<MainView> _logger { get; set; }
    [Inject] private SessionStorageService _localStorage { get; set; }
    [Inject] private NavigationManager _navigationManager { get; set; }
    
    [Parameter] public string? Id { get; set; }
    [Parameter] public int? Action { get; set; }
    
    private RadzenDataGrid<PurchaseRequest> _dataGrid;
    private List<PurchaseRequest> _purchaseRequests = [];
    private List<PurchaseRequestStatus> _purchaseReqStatuses = [];
    private PurchaseRequest? _selectedRequest;
    private PurchaseRequest? _actionRequest;
    private UserProfile? _userAccount = new();
    private bool _templateTabVisible = false;
    private string _templateTabText="Template";
    private string _tabIcon="autorenew";
    private int _selectedIndex = 0;
    private PrUserAction _userAction = PrUserAction.MODIFY;
    
    private Dictionary<PrUserAction, TabTemplate> _tabTemplates=new() { 
        { PrUserAction.MODIFY, new TabTemplate("Modify Request", "autorenew") }, 
        { PrUserAction.CANCEL, new TabTemplate("Cancel Request", "highlight_off") },
        { PrUserAction.APPROVE, new TabTemplate("Approve/Reject Request", "assignment_turned_in") }, 
        { PrUserAction.ORDER, new TabTemplate("Order Request", "add_shopping_cart") }
    };
    
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        this.EditingTracker.OnTimeout += this.EditTrackerTimeout;
        this._logger.LogInformation("MainView Initialized");
        await this.Load();
    }

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        var role=this._userService.GetUserRole();
        if (!string.IsNullOrWhiteSpace(this.Id) && this.Action.HasValue && this._userAccount != null) {
            this._selectedRequest = this._purchaseRequests.FirstOrDefault(e => e._id.ToString() == this.Id);
            if (this._selectedRequest != null) {
                this._userAction = (PrUserAction)this.Action.Value;
                switch(this._userAction) {
                    case PrUserAction.MODIFY:
                        if(role==nameof(PurchaseRequestRole.Requester) && this._selectedRequest.Requester.Username==this._userAccount?._id) {
                            await this.ModifyHandler();
                        } else {
                            this._notificationService.Notify(NotificationSeverity.Error,"Error","You are not authorized to perform this action");
                        }
                        break;
                    case PrUserAction.APPROVE:
                        if(role==nameof(PurchaseRequestRole.Approver)) {
                            await this.ApproveRequestHandler();
                        } else {
                            this._notificationService.Notify(NotificationSeverity.Error,"Error","You are not authorized to perform this action");
                        }
                        break;
                    case PrUserAction.ORDER:
                        if(role==nameof(PurchaseRequestRole.Purchaser)) {
                            await this.OrderRequestHandler();
                        } else {
                            this._notificationService.Notify(NotificationSeverity.Error,"Error","You are not authorized to perform this action");
                        }
                        break;
                    default:
                        this._notificationService.Notify(NotificationSeverity.Error,"Error","Invalid action");
                        break;
                }
            }
        }
    }

    private async Task UserActionHandler(UserActionEventArg arg) {
        this._userAction = arg.Action;
        switch(this._userAction) {
            case PrUserAction.MODIFY:
                await this.ModifyHandler();
                break;
            case PrUserAction.CANCEL:
                await this.CancelRequestHandler();
                break;
            case PrUserAction.APPROVE:
                await this.ApproveRequestHandler();
                break;
            case PrUserAction.ORDER:
                await this.OrderRequestHandler();
                break;
            default:
                this._notificationService.Notify(NotificationSeverity.Error,"Error","Invalid action");
                break;
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task ModifyHandler() {
        if (this._selectedRequest != null) {
            var user = this.EditingTracker.IsAvailable(this._selectedRequest._id.ToString());
            if (string.IsNullOrEmpty(user)) {
                this._actionRequest = this._selectedRequest;
                this.TransitionTab(PrUserAction.MODIFY);
                this.EditingTracker.StartEditing(this._userAccount._id,this._selectedRequest._id.ToString());
                //this._localStorage.SetItem(this._userAccount._id,this._selectedRequest._id.ToString());
                await InvokeAsync(StateHasChanged);
            } else {
                this._notificationService.Notify(NotificationSeverity.Error,"Error","Another user is currently" +
                                                                                    " editing this request. " +
                                                                                    "Please try again later.");
            }
        }
    }
    
    private async Task CancelRequestHandler() {
        if (this._selectedRequest != null) {
            var user = this.EditingTracker.IsAvailable(this._selectedRequest._id.ToString());
            if (string.IsNullOrEmpty(user)) {
                this._actionRequest = this._selectedRequest;
                this.TransitionTab(PrUserAction.CANCEL);
                this.EditingTracker.StartEditing(this._userAccount._id,this._selectedRequest._id.ToString());
                await InvokeAsync(StateHasChanged);
            } else {
                this._notificationService.Notify(NotificationSeverity.Error,"Error","Another user is currently" +
                                                                                    " editing this request. " +
                                                                                    "Please try again later.");
            }
        }
    }
    
    private async Task ApproveRequestHandler() {
        if (this._selectedRequest != null) {
            var user = this.EditingTracker.IsAvailable(this._selectedRequest._id.ToString());
            if (string.IsNullOrEmpty(user)) {
                this._actionRequest = this._selectedRequest;
                this.TransitionTab(PrUserAction.APPROVE);
                this.EditingTracker.StartEditing(this._userAccount._id,this._selectedRequest._id.ToString());
                await InvokeAsync(StateHasChanged);
            } else {
                this._notificationService.Notify(NotificationSeverity.Error,"Error",$"{user} is currently" +
                                                                                    " editing this request. " +
                                                                                    "Please try again later.");
            }
        }
    }
    
    private async Task OrderRequestHandler() {
        if (this._selectedRequest != null) {
            var user = this.EditingTracker.IsAvailable(this._selectedRequest._id.ToString());
            if (string.IsNullOrEmpty(user)) {
                this._actionRequest = this._selectedRequest;
                this.TransitionTab(PrUserAction.ORDER);
                this.EditingTracker.StartEditing(this._userAccount._id,this._selectedRequest._id.ToString());
                await InvokeAsync(StateHasChanged);
            } else {
                this._notificationService.Notify(NotificationSeverity.Error,"Error",$"{user} is currently" +
                                                                                    " editing this request. " +
                                                                                    "Please try again later.");
            }
        }
    }

    private async Task CompletedHandler(string id) {
        this.EditingTracker.FinishEditing(id);
        if (this.Action.HasValue && !string.IsNullOrWhiteSpace(this.Id)) {
            this._notificationService.Notify(NotificationSeverity.Info,"Info","Action completed successfully, Navigating");
            await Task.Delay(2000);
            this._navigationManager.NavigateTo("/");
        } else {
            await this.Load();
        }
    }
    
    private void EditTrackerTimeout(string username,string id) {
        if(this._userAccount._id == username) {
            if(this._actionRequest != null && this._actionRequest._id.ToString() == id) {
                this._selectedIndex = 0;
                this.Reset();
                InvokeAsync(StateHasChanged);
            }
        }
    }
    
    private void TabIndexChangedHandler(int tabIndex) {
        this._selectedIndex = tabIndex;
        if(tabIndex == 0 || tabIndex == 1) {
            this.Reset();
        }
    }
    
    private void Reset() {
        this._templateTabVisible = false;
        if(this._selectedRequest != null) {
            this.EditingTracker.FinishEditing(this._selectedRequest._id.ToString());
            this._selectedRequest = null;
        }
        this._actionRequest = null;
    }
    
    private void TransitionTab(PrUserAction action) {
        this._userAction=action;
        if (this._tabTemplates.TryGetValue(action, out var template)) {
            this._selectedIndex = 2;
            this._templateTabText = template.Name;
            this._tabIcon = template.Icon;
            this._templateTabVisible = true;
        } else {
            this._notificationService.Notify(NotificationSeverity.Error,"Error","Invalid action");
        }
    }

    private async Task Load() {
        this._selectedIndex = 0;
        this.Reset();
        this._userAccount = this._userService.GetSessionUserProfile();
        if(this._userAccount != null) {
            this.EditingTracker.UserTryClear(this._userAccount._id);
            this._purchaseRequests=await this._purchaseRequestService.GetPurchaseRequests(this._userAccount._id,this._userService.GetUserRole());
            this._purchaseRequests = this._purchaseRequests.OrderByDescending(e => e.Status).ToList();
            this._purchaseReqStatuses=this._purchaseRequests.Select(pr=>new PurchaseRequestStatus(pr._id.ToString(),pr.Title ?? "No Title", pr.Status)).ToList();
            Console.WriteLine($"User: {this._userAccount._id} has {_purchaseRequests.Count} requests");
        }
        await InvokeAsync(StateHasChanged);
    }
    
    public ValueTask DisposeAsync() {
        this.EditingTracker.OnTimeout -= this.EditTrackerTimeout;
        return ValueTask.CompletedTask;
    }

}