@using Domain.Authentication
@using Domain.PurchaseRequests.Model
@using Domain.PurchaseRequests.TypeConstants
@using Infrastructure.Services
@using MongoDB.Bson
@using Webapp.Data
@if (this.PurchaseRequest == null) {
    <p class="text-center">No purchase request selected</p>
} else {
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenCard Style="@this._columnWidth">
            <RadzenCard>
                <RadzenTabs RenderMode="TabRenderMode.Server" @bind-SelectedIndex="@this._tabIndex">
                    <Tabs>
                        <RadzenTabsItem Text="Request Information">
                            <RadzenStack Gap="1">
                                <RadzenCard Variant="Variant.Outlined" class="rz-border-radius-6 rz-background-color-secondary-light">
                                    <RadzenText Text="@(this.PurchaseRequest.Title)"
                                                TextStyle="TextStyle.H6"
                                                TextAlign="TextAlign.Center"/>
                                </RadzenCard>

                                <RadzenAlert Title="@this.GetAlertText()"
                                             AlertStyle="@this.GetAlertStyle()"
                                             Size="AlertSize.Small"
                                             AllowClose="false" Style="font-size: 14px !important;"/>
                                @if (this.PurchaseRequest.Status == PrStatus.Rejected) {
                                    @if (this.PurchaseRequest.ApprovalResult != null) {
                                        <RadzenFieldset Text="Rejection Comments">
                                            <RadzenText TextAlign="TextAlign.Center"
                                                        Text="@this.PurchaseRequest.ApprovalResult.Comments"
                                                        TextStyle="TextStyle.H6"
                                                        Style="width: 300px; height: fit-content;"/>
                                        </RadzenFieldset>
                                    }
                                }
                                <RequestInformationView Description="@this.PurchaseRequest.Description"
                                                        Name="@this.PurchaseRequest.Requester?.Name"
                                                        Title="@this.PurchaseRequest.Title"
                                                        IsUrgent="@this.PurchaseRequest.Urgent"
                                                        SelectedApprover="@this.PurchaseRequest.Approver.Name"
                                                        Mode="EditMode.VIEW"/>
                            </RadzenStack>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Purchase Information">
                            <RadzenStack Orientation="Orientation.Vertical" 
                                         AlignItems="AlignItems.Center">
                                <RadzenStack Orientation="Orientation.Horizontal">
                                    <DepartmentSelector @bind-Department="@this.PurchaseRequest.Department"/>
                                    <RadzenFieldset Text="Shipping">
                                        <RadzenText TextAlign="TextAlign.Center"
                                                    Text="@this.PurchaseRequest.ShippingType"
                                                    TextStyle="TextStyle.H6"
                                                    Style="width: 300px; height: fit-content;"/>
                                    </RadzenFieldset>
                                </RadzenStack>
                                <RadzenFieldset Text="Vendor">
                                    <VendorView Vendor="@this.PurchaseRequest.Vendor"
                                                Mode="@EditMode.VIEW"/>
                                </RadzenFieldset>
                            </RadzenStack>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Items">
                            <PurchaseItemsTable @bind-PurchaseItems="@this.PurchaseRequest.PurchaseItems"
                                                Mode="EditMode.VIEW"/>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Comments/Quotes">
                            <RadzenStack>
                                <CommentsQuotesView CurrentQuoteIds="@this.PurchaseRequest.Quotes"
                                                    AdditionalComments="@this.PurchaseRequest.AdditionalComments"
                                                    Mode="EditMode.VIEW"/>
                            </RadzenStack>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenCard>
        </RadzenCard>
    </RadzenStack>
}

@code {
    [Inject] private PurchaseRequestService _purchaseRequestService { get; set; }
    [Parameter] public PurchaseRequest? PurchaseRequest { get; set; }
    [Parameter] public EventCallback<PurchaseRequest?> PurchaseRequestChanged { get; set; }
    [Parameter] public EditMode Mode { get; set; }=EditMode.VIEW;
    [Parameter] public EventCallback ActionCompleted { get; set; }
    
    private List<Department> _departments = [];
    private string _columnWidth = "width: 100%";
    private ObjectId _prId = ObjectId.Empty;
    private int _tabIndex = 0;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        this._departments = await this._purchaseRequestService.GetDepartments();
    }

    protected override Task OnParametersSetAsync() {
        this._columnWidth=(this.Mode == EditMode.VIEW) ? "width: 100%" : "width: 50%";
        this._tabIndex = 0;
        /*if(this._prId != this.PurchaseRequest?._id) {
            if (this.PurchaseRequest != null) {
                
            }
            this._prId = this.PurchaseRequest?._id ?? ObjectId.Empty;
        }*/
        return base.OnParametersSetAsync();
    }
    
    private string GetAlertText() {
        switch (this.PurchaseRequest.Status) {
            case PrStatus.Approved: {
                return "Status: Approved, Pending Order";
            }
            case PrStatus.NeedsApproval: {
                return "Status: Pending Approval";
            }
            case PrStatus.Ordered: {
                return "Status: Ordered";
            }
            case PrStatus.Delivered: {
                return "Status: Delivered";
            }
            case PrStatus.Rejected: {
                return "Status: Rejected";
            }
            default: {
                return "Unknown";
            }
        }
    }
    
    private AlertStyle GetAlertStyle() {
        @if (this.PurchaseRequest != null) {
            switch (this.PurchaseRequest.Status) {
                case PrStatus.Approved: {
                    return AlertStyle.Info;
                }
                case PrStatus.NeedsApproval: {
                    return AlertStyle.Warning;
                }
                case PrStatus.Ordered: {
                    return AlertStyle.Secondary;
                }
                case PrStatus.Delivered: {
                    return AlertStyle.Success;
                }
                case PrStatus.Rejected: {
                    return AlertStyle.Danger;
                }
                default: {
                    return AlertStyle.Dark;
                }
            }
        } else {
            return AlertStyle.Dark;
        }
    }
}