@using Domain.PurchaseRequests.Dto
@using Domain.PurchaseRequests.Model
@using Domain.PurchaseRequests.TypeConstants
@using Webapp.Data
@using TimeProvider = Infrastructure.Services.TimeProvider
@using Infrastructure.Services

@if (this.PurchaseRequest == null) {
    <p>Loading...</p>
} else {
    <RadzenSteps SelectedIndex="@this._selectedStep" 
                 SelectedIndexChanged="SelectedStepChangedHandler">
        <Steps>
            <RadzenStepsItem Text="Order Form" NextText="Internal Email">
                <RadzenCard class="info-area" Style="max-height: 600px; overflow: scroll">
                    <RadzenStack Gap="15">
                        <RadzenCard class="area-header">
                            <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H6" class="rz-m-0">
                                <RadzenIcon Icon="package_2" class="rz-me-1"/><b>Purchasing Input</b>
                            </RadzenText>
                            <RadzenText Text="Enter payment terms, verify purchase items and verify shipping"
                                        TextAlign="TextAlign.Center"
                                        TextStyle="TextStyle.Subtitle1"/>
                        </RadzenCard>
                        <RadzenStack Orientation="Orientation.Horizontal" 
                                     JustifyContent="JustifyContent.Center">
                            <RadzenFieldset Text="Select Payment">
                                <RadzenFormField Text="Payment Term">
                                    <RadzenDropDown TValue="PaymentTerm"
                                                    Data="@PaymentTerm.List"
                                                    TextProperty="Name"
                                                    AllowClear="true"
                                                    Value="@this._selectedPaymentTerm"
                                                    ValueChanged="@this.PaymentTermChangedHandler"
                                                    class="item-selector"/>
                                </RadzenFormField>
                            </RadzenFieldset>
                            <RadzenFieldset Text="Verify Shipping">
                                <ShippingSelector @bind-ShippingType="@this.PurchaseRequest.ShippingType"/>
                            </RadzenFieldset>
                        </RadzenStack>
                        <PurchaseItemsTable Mode="EditMode.EDIT"
                                            ShowHeader="false"
                                            @bind-PurchaseItems="@this.PurchaseRequest.PurchaseItems"/>

                    </RadzenStack>
                </RadzenCard>
            </RadzenStepsItem>
            <RadzenStepsItem Text="Internal Email" PreviousText="Order Form" NextText="Vendor Email?">
                <RadzenStack>
                    <RadzenCard class="area-header">
                        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H6" class="rz-m-0">
                            <RadzenIcon Icon="mail" class="rz-me-1"/><b>Internal Email Settings</b>
                        </RadzenText>
                        <RadzenText Text="Check recipients and add any additional emails needed"
                                    TextAlign="TextAlign.Center"
                                    TextStyle="TextStyle.Subtitle1"/>
                    </RadzenCard>
                    <RadzenFieldset Text="Email Recipients">
                        <RadzenText TextStyle="TextStyle.H6" Text="Emails will be sent to the following users:"/>
                        <RadzenText Text="@String.Join(" , ", this._emailList)" TextStyle="TextStyle.Subtitle1"/>
                    </RadzenFieldset>
                    <EmailPickList CcList="@this._ccList"
                                   CcListChanged="EmailListChangedHandler"
                                   TextStyle="TextStyle.Body1"
                                   IsCollapsed="true"/>
                </RadzenStack>
            </RadzenStepsItem>
            <RadzenStepsItem Text="Finalize" PreviousText="Vendor Email?">
                <RadzenCard Variant="Variant.Outlined" Style="max-height: 700px; overflow: scroll;">
                    <RadzenRow>
                        <RadzenColumn Size="6">
                            <RadzenStack>
                                <RadzenFieldset Text="Email Vendor">
                                    <RadzenStack Orientation="Orientation.Vertical">
                                        <div class="rz-p-1 rz-text-align-center">
                                            <RadzenCheckBox TValue="bool" Value="@this.OrderRequestInput.SendExternalEmail"
                                                            ValueChanged="SendEmailChangedHandler"
                                                            Name="SendExternal"/>
                                            <RadzenLabel Text="Send Vendor Email?"
                                                         Component="SendExternal" class="rz-ms-2"/>
                                        </div>
                                        @if (this.OrderRequestInput.SendExternalEmail) {
                                            <RadzenFieldset Text="Email Setup">
                                                <RadzenStack>
                                                    <RadzenLabel Text="Enter emails with comma separation" Component="ToEmails"/>
                                                    <RadzenTextBox @bind-Value="@this._toEmails" Placeholder="one@email.com,two@email.com" Name="ToEmails" Style="width: 100%"/>
                                                    <RadzenLabel Text="Enter CC emails with coma separation" Component="CCEmails"></RadzenLabel>
                                                    <RadzenTextBox @bind-Value="@this._ccEmails" Placeholder="one@email.com,two@email.com" Name="CCEmails" Style="width: 100%"/>
                                                    <RadzenLabel Text="Enter Subject" Component="EmailSubject"></RadzenLabel>
                                                    <RadzenTextBox @bind-Value="@this._subject" Placeholder="Purchase Order" Name="EmailSubject" Style="width: 100%"/>

                                                    <a href="@($"mailto:{this._toEmails}?cc={this._ccEmails}&subject={Uri.EscapeDataString(this._subject)}")" class="text-center" style="font-size: 24px;">
                                                        <strong>Click to open Outlook</strong>
                                                    </a>
                                                </RadzenStack>
                                            </RadzenFieldset>
                                        }
                                    </RadzenStack>
                                </RadzenFieldset>
                                <RadzenFieldset Text="Submit/Cancel">
                                    <RadzenStack Orientation="Orientation.Horizontal"
                                                 AlignItems="AlignItems.Center"
                                                 JustifyContent="JustifyContent.Center">
                                        <RadzenButton Text="Submit"
                                                      ButtonStyle="ButtonStyle.Primary"
                                                      Click="@this.SubmitHandler"
                                                      Style="width: 150px; height: 60px;"
                                                      Disabled="@(this.OrderRequestInput.Action == null)"/>
                                        <RadzenButton Text="Cancel"
                                                      ButtonStyle="ButtonStyle.Danger"
                                                      Click="@this.Cancel"
                                                      Style="width: 150px; height: 60px;"/>
                                    </RadzenStack>
                                </RadzenFieldset>
                                <RadzenFormField Text="Comments">
                                    <RadzenTextArea Value="@this.OrderRequestInput.Comment"
                                                    ValueChanged="@CommentsChangedHandler"
                                                    Rows="5"/>
                                </RadzenFormField>
                            </RadzenStack>
                        </RadzenColumn>
                        <RadzenColumn Size="6">
                            <RadzenTabs class="rz-w-100">
                                <Tabs>
                                    <RadzenTabsItem Text="EmailPreview" class="tab-color-1">
                                        <DxRichEdit @ref="@this._richEdit"
                                                    @bind-DocumentContent="@this._documentContent"
                                                    DocumentLoaded="@this.DocumentLoadedHandler"
                                                    DocumentFormat="DocumentFormat.OpenXml"
                                                    BarMode="BarMode.None"
                                                    ViewType="ViewType.Simple"
                                                    ReadOnly="false" CssClass="w-100">
                                            <MailMergeSettings>
                                                <DxMailMergeSettings Data="@this.MailMerge"
                                                                     ViewMergedData="true"
                                                                     ActiveRecord="1"/>
                                            </MailMergeSettings>
                                        </DxRichEdit>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="PO Preview" class="tab-color-4">
                                        <PoPdfPreview PurchaseRequest="@this.PurchaseRequest"/>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
}

@code {
    [Inject] private AuthApiService _authApiService { get; set; }
    [Inject] private IWebHostEnvironment _environment { get; set; }
    [Inject] private NotificationService _notificationService { get; set; }
    [Inject] private IBlazorDownloadFileService _downloadService { get; set; }
    [Inject] private PoNumberService _poNumberService { get; set; }
    [Parameter] public PurchaseRequest? PurchaseRequest { get; set; }
    [Parameter] public EventCallback<PurchaseRequest?> PurchaseRequestChanged { get; set; }
    [Parameter] public OrderRequestInput OrderRequestInput { get; set; } = new();
    [Parameter] public EventCallback<OrderRequestInput?> OrderRequestInputChanged { get; set; }
    [Parameter] public EventCallback FinalView { get; set; }
    [Parameter] public EventCallback ResetView { get; set; }
    
    [Parameter] public EventCallback Submit { get; set; }
    [Parameter] public EventCallback Cancel { get; set; }

    private string _toEmails="";
    private string _ccEmails="";
    private string _subject="";
    private string _body="";
    
    private DxRichEdit _richEdit;
    
    private List<ApproveMailMerge> MailMerge { get; set; } = [];
    
    private List<string> _ccList = [];
    private List<string> _emailList = [];
    private bool _docLoaded;
    private byte[] _documentContent;
    private int _selectedStep = 0;
    private PaymentTerm? _selectedPaymentTerm;
    private bool _poNumberGenerated = false;
    
    private Task PaymentTermChangedHandler(PaymentTerm payment) {
        this._selectedPaymentTerm=payment;
        this.OrderRequestInput.PurchaseOrder.PaymentTerms = payment;
        this.OrderRequestInputChanged.InvokeAsync(this.OrderRequestInput);
        return Task.CompletedTask;
    }
    
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        this._docLoaded = false;
        await this.Load();
    }
    
    private async Task SubmitHandler() {
        this.UpdateMailMerge();
        this.OrderRequestInput.EmailDocument=await this._richEdit.DocumentAPI.MailMergeAsync(DocumentFormat.Html);
        await this.OrderRequestInputChanged.InvokeAsync(this.OrderRequestInput);
        await this.Submit.InvokeAsync();
    }

    private void UpdateMailMerge() {
        if(this.PurchaseRequest == null || this.OrderRequestInput==null) {
            return;
        }
        string header = "";
        if (this.OrderRequestInput.Action != null) {
            if (this.OrderRequestInput.Action == PurchaseRequestAction.Approve) {
                header="Request Ordered";
            } else {
                header="Request Cancelled";
            }
        } else {
            header="Select Action";
        }

        this.MailMerge = [new ApproveMailMerge() {
            PrAction = header,
            Title = this.PurchaseRequest?.Title ?? "",
            Approver = this.PurchaseRequest?.Approver.Name ?? "",
            Requester = this.PurchaseRequest?.Requester.Name ?? "",
            ApprovalComments = this.OrderRequestInput.Comment ?? "",
            CommentsTitle = $"{this.OrderRequestInput.Action?.Name ?? "Select Action"} Comments",
        }];
    }
    
    private async Task DocumentLoadedHandler(Document obj) {
        if(this.PurchaseRequest == null) {
            return;
        }
        this.UpdateMailMerge();
        this.OrderRequestInput.EmailDocument=await this._richEdit.DocumentAPI.MailMergeAsync(DocumentFormat.Html);
        await this.OrderRequestInputChanged.InvokeAsync(this.OrderRequestInput);
        this._docLoaded = true;
    }
    
    private async Task EmailListChangedHandler(List<string> ccList) {
        this._ccList = ccList;
        if(this.PurchaseRequest == null) {
            return;
        }
        this.PurchaseRequest.EmailCopyList = ccList;
        await this.PurchaseRequestChanged.InvokeAsync(this.PurchaseRequest);
    }

    private async Task CommentsChangedHandler(string obj) {
        this.OrderRequestInput.Comment=obj;
        await this.OrderRequestInputChanged.InvokeAsync(this.OrderRequestInput);
    }

    private string GetMailTo() {
        return $"mailto:{this._toEmails}?cc={this._ccEmails}&subject={Uri.EscapeDataString(this._subject)}";
    }
    
    private async Task Load() {
        this._documentContent=await File.ReadAllBytesAsync($"{this._environment.WebRootPath}/MailTemplateFiles/ApproveRejectTemplate.docx");
        this.MailMerge = [new ApproveMailMerge() {
            PrAction = $"Select Action",
            Title = this.PurchaseRequest?.Title ?? "",
            Approver = this.PurchaseRequest?.Approver.Name ?? "",
            Requester = this.PurchaseRequest?.Requester.Name ?? "",
            ApprovalComments = "",
            CommentsTitle = "{Selected Action} Comments",
        }];
        if (this.PurchaseRequest != null) {
            this.PurchaseRequest.PurchaseOrder = new PurchaseOrder();
            var purchasers = await this._authApiService.GetPurchasers();
            this._emailList = purchasers.Where(f => string.IsNullOrEmpty(f.Email) == false)
                .Select(e=>e.Email)
                .ToList();
            this._emailList.Add(this.PurchaseRequest.Requester?.Email ?? "");
            if (this.PurchaseRequest.EmailCopyList.Any()) {
                this._ccList.AddRange(this.PurchaseRequest.EmailCopyList);
                if (!string.IsNullOrEmpty(this.PurchaseRequest.Approver.Email)) {
                    this._ccList.Add(this.PurchaseRequest.Approver.Email);
                }
                /*if (!string.IsNullOrEmpty(this.PurchaseRequest.Requester?.Email)) {
                    this._ccList.Add(this.PurchaseRequest.Requester.Email);
                }*/
            }
        }
    }

    private Task ToEmailChanged(string toEmails) {
        return Task.CompletedTask;
    }

    private void SendEmailChangedHandler(bool value) {
        if (this.PurchaseRequest != null) {
            if (this.OrderRequestInput?.SendExternalEmail == false) {
                this._toEmails+=this.PurchaseRequest?.Vendor?.Email ?? "";
                this._ccEmails+=this.PurchaseRequest?.Requester?.Email ?? "";
                this._ccEmails += ",";
                this._ccEmails+=this.PurchaseRequest?.Approver?.Email ?? "";
                this._ccEmails+=this.PurchaseRequest?.EmailCopyList.Aggregate("", (current, next) => current + "," + next);
            }
        }
        this.OrderRequestInput.SendExternalEmail=value;
    }

    private async Task SelectedStepChangedHandler(int step) {
        if (this._selectedStep==0 && step != 0) {
            if(this._selectedPaymentTerm==null) {
                this._notificationService.Notify(NotificationSeverity.Error,
                    "Missing Data","Payment Term must be selected before continuing", 5000, closeOnClick:true);
                this._selectedStep = 0;
            } else {
                this._selectedStep=step;
                if(step==2) {
                    /*if (!this._poNumberGenerated) {
                        var poNumber = await this._poNumberService.GetNextPoNumber(this.PurchaseRequest.Requester.Initials,TimeProvider.Now().Year);
                        if (!string.IsNullOrEmpty(poNumber._id)) {
                            this.PurchaseRequest.PurchaseOrder.PoNumber = poNumber._id;
                            this._poNumberGenerated = true;
                        }
                    }*/
                    await this.FinalView.InvokeAsync();
                }
            }

        } else {
            if (step == 2 && this._selectedStep != 2) {
                /*if (!this._poNumberGenerated) {
                    var poNumber = await this._poNumberService.GetNextPoNumber(this.PurchaseRequest.Requester.Initials,TimeProvider.Now().Year);
                    if (!string.IsNullOrEmpty(poNumber._id)) {
                        this.PurchaseRequest.PurchaseOrder.PoNumber = poNumber._id;
                        this._poNumberGenerated = true;
                    }
                }*/
                await this.FinalView.InvokeAsync();
                this._selectedStep = step;
                return;
            }
            if(step!=2 && this._selectedStep==2) {
                await this.ResetView.InvokeAsync();
                this._selectedStep = step;
                return;
            }
            this._selectedStep = step;
        }
    }

    private async Task DownloadHandler() {
        //this._downloadService.DownloadFile()
    }

}